*.lock.json
package-lock.json
*.pubxml
*.psm1
*.vspscc
*.vssscc
*.user
*.partial
*.dll
*.pdb
*.dll.config
*.suo
*.user
*.min.js
_ReSharper.*/
*.sdf
[Oo]bj/
[Bb]in/
.vs/
.idea/
**/wwwroot/lib
node_modules/
*DS_Store
*.sln.ide
*.userprefs
output/
_solutions/packages/
build_output/
apps-shared-auth-keys/
*.lock.json
package-lock.json
*.pubxml
*.psm1
*.vspscc
*.vssscc
*.user
*.partial
*.dll
*.pdb
*.dll.config
*.suo
*.user
*.min.js
_ReSharper.*/
*.sdf
[Oo]bj/
[Bb]in/
.vs/
.idea/
**/wwwroot/lib
node_modules/
*DS_Store
*.sln.ide
*.userprefs
output/
build_output/
