<div class="col-md-8 offset-2 text-center" style="margin-top:150px">
        <a class="text-light bg-dark nav-link @(ViewBag.Current == "Locations" ? "active" : "")"
           asp-area="" asp-controller="Locations" asp-action="Locations">
            <h1 class="display-2">Find or post your location</h1>
</a>
</div>