
<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel text-light">
                        <h4>Top 10 Health Benefits of Roller Skating</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel text-light">
                        <ul icon="circle">
                            <li>
                                <b>
                                    Easy on the joints:
                                </b>
                                <p>
                                    Skating provides you with fluid motion that keeps
                                    you from damaging your joints, helping you enjoy movement similar
                                    to running to or dancing without the harsh impact. According to a study conducted at the University of
                                    Massachusetts, skating causes less than 50 percent of the impact shock to joints compared to running. In other
                                    words, an aerobic roller skating workout has the same benefit as the same amount of time spent jogging, only
                                    without the joint damage.
                                </p>
                            </li>
                            <li>
                                <b>
                                    Great as a cross training exercise:
                                </b>
                                <p>
                                    Roller skating is equivalent to jogging in terms of health benefits and caloric
                                    consumption, reduction of body fat, and leg strength development. So if you’re an athlete and you’re looking for
                                    an activity to keep you in shape during the offseason, pick up a pair of roller skates!
                                </p>
                            </li>
                            <li>
                                <b>
                                    Calorie burning (fat burning):
                                </b>
                                <p>
                                    An average-sized man who weighs around 190 pounds can expect to burn about
                                    10 calories each minute of roller skating, while an average-sized woman weighing 163 pounds can expect to burn
                                    about 9 calories per minute. The calorie-burning benefits of roller skating add up quickly; you can burn between
                                    300 and 600 calories if you skate for a full hour.

                                </p>
                            </li>
                            <li>
                                <b>
                                    Good for mood:
                                </b>
                                <p>
                                    Have you ever seen a person roller skating and frowning at the same time? Of course not!
                                    Between the music, lights, sunlight, social aspect, health benefits and fun, roller skating is one of the most fun
                                    workouts!

                                </p>
                            </li>
                            <li>
                                <b>
                                    Works the arms and legs:
                                </b>
                                <p>
                                    Skating works the legs and glutes as you power through movement, while your arms
                                    and core get a workout as you balance your body during the movement. According to GetRolling.com, roller
                                    skating helps build strength, especially in the muscles of the lower body. Stronger muscles and better
                                    coordination work together to prevent injuries and keep you active and limber as you age.
                                </p>
                            </li>
                            <li>
                                <b>
                                    Great for improving balance, agility and coordination:
                                </b>
                                <p>
                                    Roller skating helps improve balance with the strength
                                    of abdominal and lower-back muscles, since you must maintain a steady core to stay upright. Coordinating
                                    balance and leg movement improves coordination.

                                </p>
                            </li>
                            <li>
                                <b>
                                    Strengthen the heart:
                                </b>
                                <p>
                                    The American Heart Association recognizes roller skating as an effective aerobic exercise
                                    that helps strengthen the heart. According to research conducted at the Universitat Konstantx, moderate roller
                                    skating increases a skater’s heart rate to levels ranging from 140 to 160 beats per minute, while skating at top
                                    speeds can increase heart rate up to around 180 beats per minute.
                                </p>
                            </li>
                            <li>
                                <b>
                                    Improve endurance:
                                </b>
                                <p>
                                    In addition to increasing muscle strength, roller skating can help increase muscle
                                    endurance. Adding a few uphill climbs to each skating session trains your muscles, along with your cardiovascular
                                    system, to use the body’s energy stores more efficiently. This means you can skate longer distances – and do
                                    other intense workouts – without becoming exhausted.
                                </p>
                            </li>
                            <li>
                                <b>
                                    Can be done anywhere:
                                </b>
                                <p>
                                    Many people like roller skating in a rink with others, but it can be done outside on the
                                    street, on a paved trail, anywhere with a smooth, steady surface.
                                </p>
                            </li>
                            <li>
                                <b>
                                    Social:
                                </b>
                                <p>
                                    Roller-skating is a social activity that can be done with friends. Being social is an important part of health
                                    – so next time your friends want to meet up for dinner or drinks, suggest a skate around the rink instead!
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>