<div class="col-md-12 text-center align-content-center">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="row text-center">
                        <h4>Buying Guide for Inline Skates</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img alt="Gender Refinement" height="112" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw64fccfdb/images/images for content/Gender.jpg" align="left" width="143" vspace="25" hspace="25"/>
                                <h4>Gender</h4>
                                You will notice inline skates are going to be available for men*, women, girls and boys. Many think that the skates are simply aesthetically different, but the skates are actually designed to fit the specific foot shape for men, women, boys or girls. For example, a woman&rsquo;s inline skate will offer a slightly narrower fit, and will offer a lower cuff height. Men typically have a wider foot shape so the wider fit is better, and a woman&rsquo;s calf muscle sits lower so a lower cuff height alleviates a poor fit in this area. Also note that gender specific skates are sized the same as standard shoe sizes for that gender, for example a men&rsquo;s size 9 will fit like a men&rsquo;s size 9 shoe, so a woman purchasing a men&rsquo;s skate would go a size down, and vice-versa.
                                On Inlineskates.com men&rsquo;s skates are referred to as adult.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img width="143" height="112" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw07d554f7/images/images%20for%20content/Skate_Type.jpg" id="gifbasics" vspace="25" hspace="25" align="left"  />
                                <h4>Skate Type</h4>
                                There are several disciplines of inline skating, and with that there are a few different styles of inline skates available. The four main types of inline skates are going to be fitness, race, recreation, and urban. There are also aggressive and inline hockey skates, but we talk about them in other guides.
                                <ul icon="circle">
                                    <li>
                                        <h5>Fitness:</h5>Great for more experienced skaters and for those looking for more out of their skates. There is quite a range in this style of skate and you will find skates with features for skating a bit faster, and for greater distances than recreational skates.
                                    </li>
                                    <li>
                                        <h5>Recreation:</h5>One of the most popular style of skates great for beginner to intermediate skaters. Built with comfort in mind, and a splash of performance, skates in the recreational category are going to give a great fit and feel for a first time skater, and will offer a stepping stone to fitness skates.
                                    </li>
                                    <li>
                                        <h5>Race:</h5>Race style inline skates are going to offer a very stiff boot design boasting great performance. The stiff boots make for great performance but will not be super comfortable meaning these skates are truly only for those looking for race inspired performance.
                                    </li>
                                    <li>
                                        <h5>Urban:</h5>Urban style inline skates are relatively new and offer a boot design reminiscent to an aggressive skate. Built for city streets, with a nimble short frame design, urban skates are great for zipping around crowded sidewalks.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img alt="Gender Refinement" height="112" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dwe88c8a7c/images/images%20for%20content/Inline_Skate_Skill_Range.jpg" align="left" width="143" vspace="25" hspace="25" />
                                <h4>Skill Range</h4>
                                The skill range associated with inline skates can range from beginner to expert with intermediate, advanced intermediate, and advanced in between. Just like any equipment for athletics there are various ranges of equipment available. The inline skate skill range will start out at beginner with plastic framed skates, with smaller wheels and lower grade bearings. As a skate’s skill range goes up you will get better components including frames, bearings, wheels and boots. Just like anything else you will want to match your ability with the type of skate you need. Buy an inline skate that best matches your ability, or is slightly above so you can grow into it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img width="350" src ="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw833385a9/images/images%20for%20content/Inline-Skate-Liners.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <h4>Liners</h4>
                                The liner of an inline skate is a very important piece of the skate. If you have an ill fitting liner you are going to have an ill fitting skate, and this may give you an ill temper while skating.  The four most common types of inline skate liners are listed below:
                                <ul icon="circle">
                                    <li>
                                        <h5>Standard:</h5>Constructed of foam materials and offers basic comfort and padding for your feet. Lack any special or customization features and will be great for beginners that are learning and will upgrade their skates once more confident.
                                    </li>
                                    <li>
                                        <h5>Auto-Fit:</h5>Typically utilize gels of pads that will contour automatically to your feet each time you wear your skates. Auto-fit liners provide extra support and more comfort than standard liners.
                                    </li>
                                    <li>
                                        <h5>Memory Fit:</h5>Similar to the gel/pad style of Auto-Fit liners. The difference exists with the liners ability to remember your foot pattern and contour to it. As time goes on, the gels and pads will continue to shape to your feet as you wear them.
                                    </li>
                                    <li>
                                        <h5>Heat Moldable:</h5>Liners are removed and heated (do not attempt at home, seek a skate shop professional). Once heated, the warm liners are placed on your feet and will contour to your foot as they cool and re-harden.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img height="112" width="180" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw6993effc/images/images%20for%20content/Cuff_height.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <h4>Cuffs</h4>
                                Cuffs on inline skates are where the support is produced. Without the stability of the cuffs, inline skates would offer the support of a $10 pair of slippers. OK, maybe that is a bit drastic but having a quality cuff is going to allow skaters to generate more power when pushing off while giving them ample support for long skating sessions. There are two main types of cuffs on skates; plastic or carbon.
                                <ul icon="circle">
                                    <li>
                                        <h5>Plastic Cuff/High Cuff:</h5> A plastic cuff can be found on a lot of recreational inline skates and is not necessarily a sign of a poor skate. The plastic used on inline skate cuffs is very durable and responsive offering skaters a great feel of performance and support.
                                   </li>
                                    <li>
                                        <h5>Carbon Cuff/Low Cuff:</h5>Carbon cuffs are a definite upgrade from plastic offering more support and response for hardcore skaters. Found on marathon and race inline skates, a carbon cuff is going to be very responsive and stiff making it great for pure performance.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img height="112" width="143" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw0c113081/images/images%20for%20content/Frame_Material.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <h4>Frames</h4>
                                Skate frames are typically constructed from plastic, aluminum, or carbon. When it comes to what constitutes a better frame, you will be looking for three things: weight, stiffness, and durability. Each of these characteristics is largely attributed to the type of material the frame is made of.
                                <ul icon="circle">
                                    <li>
                                        <img src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dwa9eb7f65/images/images%20for%20content/Inline-Skate-Cutouts-Detail.jpg" id="gifbasics" vspace="25" hspace="25" align="right" vspace="25" hspace="25" />

                                        <h5>Plastic Frames:</h5> Plastic frames are usually found on beginner level inline skates because they are less expensive to make, resulting in a lower priced skate. When compared to aluminum or carbon frames, plastic frames are the least durable and least stiff of the three materials. They also tend to be heavier, which increases the overall weight of the skate.
                                    </li>
                                    <li>
                                        <h5>Aluminum Frames:</h5>Aluminum, when compared to plastic frames, are lighter in weight and greater in stiffness. They do not torque under stress as plastic frames do, making them more efficient and also more durable. Aluminum frames are most commonly found on intermediate level inline skates, priced at levels slightly higher than those at the entry level.
                                    </li>
                                    <li>
                                        <h5>Carbon Frames:</h5>Carbon was introduced to inline skate frames as a way to further reinforce aluminum frames, reduce weight, and increase durability for advanced level skaters.
                                    </li>
                                </ul>
                                A skate’s frame is where the power is generated when skating. Frame stiffness is an important aspect of your skate frame because it creates a more direct transfer of energy. When skating, you thrust your legs outward, creating energy to make your skates go. The energy from your legs travels through the boot of your skate, down to the frame, and ultimately to your wheels and the ground.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img height="112" width="143" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw591b05af/images/images%20for%20content/Closure_Type.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <img src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw7f794028/images/images%20for%20content/Standard-Lace-Inline-Skate-.jpg" id="gifbasics" vspace="25" hspace="25" align="right" vspace="25" hspace="25" />
                                <h4>Closure Systems</h4>
                                The days of inline skates just having boring standard lacing systems is a thing of the past, now there are ratchets, buckles, Velcro, quick lace and Boa! Skaters are typically going to lean towards one type of closure or another based on personal preference.
                                <ul icon="circle">
                                    <li>
                                        <h5>Standard Lacing:</h5> Originally the only form of a closure system, standard lacing systems are now frequently partnered with ratchet buckles and/or Velcro straps.
                                    </li>
                                    <li>
                                        <h5>Ratchet Buckles:</h5> At one time, this was a two- or three-buckle closure system that replaced lacing systems as the sole closure system on inline skates. Ratchet buckles often accompany the lacing system and can be found on skates with standard laces, quick laces or Boa closure systems.
                                    </li>
                                    <li>
                                        <img src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dwa2bda2ee/images/images%20for%20content/Quicklace-and-Boa-Inline-Sk.jpg" id="gifbasics" vspace="25" hspace="25" align="right" vspace="25" hspace="25" />

                                        <h4>Velcro Straps:</h4>Velcro Straps, also known as power straps are used in tandem with standard lacing and ratchet buckle systems. They help to keep your heel positioned correctly in the heel cup of the skate.
                                    </li>
                                    <li>
                                        <h5>Quick Lace:</h5> Power Assisted (quick lace) closure systems are very convenient. They allow for easy-on, easy-off skating with a quick pull and are a great timesaver. The system consists of a thin but extremely durable cable that runs up the skate boot like a standard lace.
                                    </li>
                                    <li>
                                        <h5>Boa Lacing:</h5> Boa lacing is similar to quick lace systems but instead of a pull and tighten system, the Boa lace is fed through a dial.

                                        The dial on the top of the skate will easily tighten or loosen the inline skates with a simple turn of the knob.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img height="112" width="143" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw77631997/images/images%20for%20content/Wheel_Size.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <h4>Wheels</h4>
                                Like other elements of inline skating, wheels have seen their fair share of advancements over the years. Wheels that you find on modern inline skates are manufactured from polyurethane. Seldom will you find wheels made of any other material, unlike decades ago when inline skating began its emergence. Many skates manufactured in the 1980s and 1990s had plastic wheels, which were ineffective and cracked easily.

                                For a full run down on wheels please view our inline skate wheel buying guide.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <img height="112" width="180" src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw150d602a/images/images%20for%20content/Bearing_Grade.jpg" id="gifbasics" vspace="25" hspace="25" align="left" vspace="25" hspace="25" />
                                <h4>Bearings</h4>
                                <img src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw94335786/images/images%20for%20content/Inline-Skate-Bearing.jpg" id="gifbasics" vspace="25" hspace="25" align="right" vspace="25" hspace="25" />

                                Bearings are an essential part of an inline skate. Bearings determine the smoothness of your ride and also determine your ability to reach higher speeds .The idea behind an inline skate bearing is to reduce the friction that exists between a moving skate wheel and fixed, non-moving frame.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="media g-mb-15 media-comment" id="comment-body">
        <div class="media-body u-shadow-v18 g-bg-secondary g-mr-3">
            <div class="g-mb-15">
                <div class="container">
                    <div class="d-flex panel">

                        <div>
                            <p align="justify">
                                <h4>Brakes</h4>
                                <img src="https://www.inlineskates.com/on/demandware.static/-/Sites-Inline-Skates-Library/default/dw2a8b3e3e/images/images for content/Inline-Skate-Brake-and-No-B.jpg" vspace="25" hspace="25" align="right" />
                                 The brake can be a very, very important part of the inline skate, especially for beginner skaters. Most all inline skates will come with a brake although some specific models of skates will not come with brakes.
                                <ul icon="circle">
                                    <li>
                                        <h5>Skates with Brakes:</h5> Brakes are found on nearly every recreational and fitness skate. Typically, the brake will come attached to the right skate, but is often interchangeable between skates. This is done so that left-foot dominant skaters can switch the brake to the left skate.
                                    </li>
                                    <li>
                                        <h5>No Brake:</h5> Although this may seem to be a bad idea for beginner and novice skaters, some skates do not offer a braking system. Aggressive skates, roller hockey skates, and race skates are just some of the skate styles that do not offer a brake system. The reason for this is that brake systems on these types of skates tend to get in the way of performance and skaters in these disciplines tend to be more confident in their skating.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
